<%- include('layout/header');%>
<%- include('layout/navBar');%>

<div class="container-fluid mb-5 mt-5">
    <div class="row d-flex justify-content-center mb-5 mt-5 ">
        <div class="col-3 mb-5 mt-5">
            <p class="fs-1 ps-1">Pagamento</p>
            <div class="card shadow border-light" style="width: 18rem;">
                <div class="card-body">
                    <form action="/pagamento/realizado" method="post">
                        <h6 class="card-subtitle mb-2 mt-3 text-body-secondary">Placa do carro:</h6>
                        <input type="text" name="placaCarro" id="placaCarro" class="border-none" value="<%= dadosFinalizados.placaCarro %>" readonly>
                        <h6 class="card-subtitle mb-2 mt-3 text-body-secondary">Horário de entrada:</h6>
                        <input type="text" name="entradaTime" id="entradaTime" class="border-none" value="<%= dadosFinalizados.entradaTime %>" readonly>
                        <h6 class="card-subtitle mb-2 mt-3 text-body-secondary">Horário de saída:</h6>
                        <input type="text" name="saidaTime" id="saidaTime" class="border-none" value="<%= dadosFinalizados.saidaTime %>" readonly>
                        <h6 class="card-subtitle mb-2 mt-3 text-body-secondary">Total a pagar(R$):</h6>
                        <input type="number" name="totalPagar" id="totalPagar" class="border-none" value="<%= dadosFinalizados.totalPagar %>" readonly>
                        <div class="mt-3 d-flex gap-3">
                            <button type="submit" class="btn btn-success ">Pagar</button>
                        </div>
                    </form>
                <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Placa do carro:</h6>
                <h5 class="card-title"><%= dadosFinalizados.placaCarro %></h5>
                <h6 class="card-subtitle mt-2 mb-2 text-body-secondary">Horário de entrada:</h6>
                <h5 class="card-title"><%= dadosFinalizados.entradaTime %></h5>
                <h6 class="card-subtitle mt-2 mb-2 text-body-secondary">Horário de saída:</h6>
                <h5 class="card-title"><%= dadosFinalizados.saidaTime %></h5>
                <h6 class="card-subtitle mt-2 mb-2 text-body-secondary">Total a pagar:</h6>
                <h5 class="card-title">R$<%= dadosFinalizados.totalPagar %></h5>
                <div class="d-flex justify-content-center mt-3 pe-3 gap-3">
                    <a  href="/" class="btn btn-danger" role="button" aria-disabled="true"> 
                        Cancelar
                    </a>
                    <a  href="/pagamento/realizado" class="btn btn-success" role="button" aria-disabled="true"> 
                    Pagar
                  </a>
                </div> -->
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- include('layout/footer');%>